PORT=5005
MONGO_URI=mongodb://localhost:27017/zoom-clone # Serveringizdagi MongoDB manzili (yoki Atlas linki)
JWT_SECRET=your_jwt_secret_key_here
# Agar serveringiz HTTPS bo'lsa va proxy orqali ishlasa:
# NODE_ENV=production
